@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
    font-family: "Roboto", sans-serif;
}

#site-header {
    background-image: url("../images/Landing-Page-background-image.png");
    height: 930px;
    width: 100%;
    padding: 10px;
}


/* for dropdown flag */

.flag {
    width: 30px;
}

.btn-group {
    margin: 30px;
    color: #000000;
}

.btn img {
    width: 30px;
}

.dropdown-menu img {
    width: 30px
}

.navbar-nav li a {
    color: #ffffff;
    font-size: 17px;
}

.navbar-nav li a:hover {
    color: #ffffff;
}

.navbar-button {
    background-color: rgba(41, 98, 109, 0.8) !important;
}

.navbar-button:hover {
    color: white !important;
    background-color: rgba(41, 98, 109, 1) !important;
}

.navbar-nav li a>button {
    border-radius: 20px;
    padding: 0 8px;
    padding: 6px 20px;
}

#nav-right {
    /* padding-left: 500px; */
    width: 100%;
}

.dropdown-item:hover {
    background-color: #353548 !important;
}


/* banner-list-heading */

.banner_list_heading {
    font-size: 50px;
}

#banner-list {
    margin-top: 318px;
    margin-left: 55px;
    color: #ffffff;
}


/* book cleaner button */

#book_cleaner_button {
    border: 1px solid #FFFFFF;
    border-radius: 27px;
    font-size: 18px;
    background-color: rgba(0, 96, 114, 0.6);
    opacity: 0.8;
}

#book-cleaner-button:hover {
    background-color: rgba(0, 96, 114, 1);
    color: #ffffff !important;
}

#process_steps {
    margin-top: 120px;
    flex-wrap: wrap;
    color: #ffffff;
}

#sectionTwo {
    margin-bottom: 200px;
}

#sectionTwoHeading {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    color: #4f4f4f;
    font-weight: bold;
}

.sectionTwoSubHeading {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #565656;
    height: 120px;
}

.sectionTwoText {
    font-family: "Roboto", sans-serif;
    color: #565656;
    font-size: 17px;
}

.cardStyle {
    width: 320px;
    border: 0px !important;
}

.cardBodyStyle {
    padding: 0px !important;
}

#sectionourBlog {
    background-image: url("../images/blog-left-bg.png"), url("../images/blog-right-bg.png");
    background-position: left, right;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: contain;
    padding: 50px 0;
}

#sectionThreeHeading {
    color: #4f4f4f;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

#sectionThreeText {
    color: #4f4f4f;
    font-size: 18px;
}

#sectionThreeImg img {
    width: 404px;
    height: 336px;
}

#BlogHeading {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    color: #4f4f4f;
}

.blogCardStyle {
    box-shadow: 0 0 30px #e4ebf0;
    border: none !important;
}

.blogTitle {
    font-size: 20px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #3d4046;
}

.blogDate {
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    color: #a3a3a3;
}

.blogText {
    color: #565656;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.readPost {
    font-size: 18px;
    color: #4f4f4f;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
}

.readPost:hover {
    color: #4f4f4f;
}

#Customer {
    background-color: #F4F5F8;
}

.customerTitle {
    font-size: 40px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    color: #4f4f4f;
}

.customerName {
    font-size: 19.92px;
    color: #4f4f4f;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.customerCity {
    font-size: 13.95px;
    color: #8e8e8e;
    font-family: "Roboto", sans-serif;
}

.customerCardBody {
    padding-left: 40px !important;
    padding-top: 40px !important;
    padding-bottom: 30px !important;
    padding-right: 20px !important;
}

.msgImage {
    position: absolute;
    right: 20px;
    top: 20px;
}

.customerCard {
    background-color: #e4ebf0;
    border-left: 4px solid #006072 !important;
    border-right: none !important;
    border-top: none !important;
    border-bottom: none !important;
    position: relative;
}

.customerText {
    font-size: 16px;
    color: #565656;
    font-family: "Roboto", sans-serif;
}

.gotoTop {
    position: fixed;
    bottom: 50px;
    background-color: #525252;
    padding: 10px 14px 14px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

#newsletter {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #353548;
    font-weight: 500;
}

#emailSubmitButton {
    background-color: #ff7b6d;
    color: #ffffff;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    border-radius: 50px;
    height: 40px;
    width: 88px;
}

#inputEmail {
    border: 1px solid #565656;
    border-radius: 50px;
    height: 40px;
    width: 233px;
}

input::-webkit-input-placeholder {
    font-size: 14px;
    color: #565656;
    font-family: "Roboto", sans-serif;
}

#chatSymbol {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#homepage-footer {
    background-color: #111111;
    padding: 25px 0 5px;
}

#footer-list {
    flex-wrap: wrap;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    color: #f1f1f1;
    font-size: 14px;
    padding: 0px 40px;
}

#footer-list li {
    padding: 0 10px;
}

#footerSocialMediaSymbol div {
    padding: 0 10px;
}

#policy {
    background-color: #292929;
    color: #f1f1f1;
    height: 64px;
    position: fixed;
    bottom: 0;
}

#policy button {
    background-color: #eed507;
    height: 40px;
    width: 99px;
    border-radius: 25px;
    margin-right: 30px !important;
}

#policy button:hover {
    background-color: #e0cb0c;
}

#policy p {
    font-size: 14px;
    margin: 0 390px 0 10px;
}


/* FAQ PAGE */

.smlNav {
    background-color: rgba(82, 82, 82, 0.9);
}

.faqNavLogo {
    height: 54px;
    width: 73px;
}

.FAQTitle {
    font-size: 36px;
    color: #4F4F4F;
    font-weight: 500;
    opacity: 1;
}

.star-design::after {
    position: relative;
    bottom: 12px;
    left: 5px;
    content: " ";
    display: block;
    border-bottom: 2px solid #dddddd;
    width: 70px;
}

.star-design::before {
    position: relative;
    bottom: 12px;
    right: 5px;
    content: " ";
    display: block;
    border-bottom: 2px solid #dddddd;
    width: 70px;
}

#FAQPara {
    max-width: 498px;
    color: #646464;
    font-size: 18px;
    margin: auto;
}

.labl {
    display: block;
    max-width: 472px;
    font-size: 24px;
    padding: 0px !important;
}

.labelCustomer {
    background-color: #1d7a8c;
    color: white;
    cursor: pointer;
}

.labelServiceProvider {
    background-color: #f6f6f6;
    color: #666666;
    cursor: pointer;
}

#FAQSections {
    border-bottom: 5px solid #1d7a8c;
}

.faq-item {
    border: none !important;
}

.faq-question {
    color: #646464 !important;
    font-weight: bold !important;
    background-color: white !important;
    border: none !important;
}

.faq-question-text {
    padding: 0 10px !important;
    border: none !important;
}

.faq-content {
    color: #646464;
    padding: 0 50px !important;
    border: none !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
}

.accordion-button::before {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("../images/right-arrow.png");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
}

.accordion-button:not(.collapsed)::before {
    background-image: url("../images/right-arrow.png");
    transform: rotate(90deg);
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
    background-image: none !important;
}


/* FAQ page :end */


/* price page started */

.priceCard {
    border: 1px solid #b0c9ce;
}

.priceCard h2 {
    background-color: #1d7a8c;
    color: white;
    font-size: 28px;
    font-weight: bold;
    padding: 12px 0 13px 0;
}

.priceCard h3 {
    color: #646464;
    font-size: 48px;
}

.priceCard h3 span {
    font-size: 30px;
}

.priceCard ul {
    list-style-type: none;
    text-align: left;
    padding: 15px 0 0 150px;
}

.priceCard ul li {
    padding: 6px 0;
}

.p-16 {
    color: #646464;
}

.p-bold-18 {
    font-size: 18px;
    font-weight: bold;
    color: #1d7a8c;
}

.pageTitle {
    font-size: 36px;
    font-weight: 500;
    color: #4f4f4f;
}

.hrLine {
    margin-left: 210px;
    margin-right: 210px;
    color: #646464;
}

#extraServices div>div {
    width: 108px;
    height: 108px;
    border-radius: 50%;
    border: 1px solid #B0C9CE;
}

#extraServices div img {
    position: relative;
    top: 27px;
}

#extraServices div img#oven {
    top: 35px;
}

#cleaningPart {
    padding: 30px 0;
}

#cleaningPart div div {
    padding: 0px;
}

#cleaningPart ul {
    list-style-type: none;
    padding: 0px;
    height: 225px;
}

#cleaningPart ul li {
    padding: 6px 0;
}

#cleaningPart h3 {
    color: #4F4F4F;
    font-weight: bold;
    font-size: 20px;
    padding-top: 15px;
}

#FAQWhyHelperland>div#first h3 {
    font-size: 20px;
    font-weight: bold;
    color: #646464;
    text-align: right;
}

#FAQWhyHelperland>div#first p {
    font-size: 14px;
    color: #646464;
    text-align: right !important;
}

#FAQWhyHelperland>div#second h3 {
    font-size: 20px;
    font-weight: bold;
    color: #646464;
    text-align: left;
}

#FAQWhyHelperland>div#second p {
    font-size: 14px;
    color: #646464;
    text-align: left;
    max-width: 285px;
}


/* price page ended*/

.aboutPara {
    color: #646464;
    letter-spacing: 0px;
    opacity: 1;
}

.contactUsPara {
    color: #4F4F4F;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0px;
}

.contactHeading {
    font-size: 28px;
    color: #4F4F4F;
    font-weight: 500;
    letter-spacing: 0;
}


/* media query */

@media screen and (max-width: 560px) {
    .untouch {
        margin-bottom: 20px;
    }
}

.col-sm-4 .img {
    margin-bottom: 20px;
    display: inline-block;
    height: 61px;
    width: 61px;
}

.btn-submit {
    width: 163px;
    height: 46px;
    background: #1D7A8C 0% 0% no-repeat padding-box;
    border-radius: 23px;
    border: 1px solid #1D7A8C;
    line-height: 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    opacity: 1;
}

.country-code {
    width: 57px;
    height: 46px;
    background-color: #F3F3F3;
    border: 1px #E2E2E2 solid;
    line-height: 45px;
}

.contact-form {
    max-width: 620px;
    margin: auto;
}

@media (max-width: 992px) {
    .navbar-collapse {
        background-color: rgb(41, 41, 41);
        text-align: left !important;
        padding-left: 20px;
    }
}