@using System.Security.Claims
@{
    ViewData["Title"] = "Service History";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<nav class="navbar fixed-top navbar-expand-xl navbar-light navbar-bg-color p-0">
        <div class="container-fluid">
            <a class="navbar-brand me-auto" href="#">
                <img src="~/images//white-logo-transparent-background.png" alt="">
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav d-xl-none">
                    <li class="nav-item user-name">
                        Welcome,<br>
                        <span>Sandip</span>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">New Service Requests</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Upcoming Services</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Service Schedule</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Service History</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">My Ratings</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Block Customer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link">Logout</a>
                    </li>
                    <hr class="hr-navbar">
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item mt-rounded-btn">
                        <a class="nav-link rounded-btn" aria-current="page" href="#">Book now</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Price">Prices & services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Warranty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Contact">Contact</a>
                    </li>
                </ul>
                <div class="social-links d-xl-none mt-3">
                    <a href="#" class="ms-3">
                        <img src="~/images/facebook-f-brands.svg" alt="" class="fb-icon">
                    </a>
                    <a href="#" class="ms-2">
                        <img src="~/images/instagram-brands.svg" alt="" class="insta-icon">
                    </a>
                </div>
            </div>
            <div class="backblack"></div>
            <div class="notification-profile-menu">
                <ul class="d-flex">
                    <li class="nav-item dropdown notification-dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/images/icon-notification.png" alt="">
                            <span>2</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Notification1</a></li>
                            <li><a class="dropdown-item" href="#">Notification1</a></li>
                            <li><a class="dropdown-item" href="#">Show more</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown user-detail-dropdown d-none d-xl-block">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="~/images/admin-user.png" alt="">
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="user-name ps-3">
                                Welcome,<br>
                                <span>@User.Identity.Name</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text-center" asp-controller="Account" asp-action="logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>
        </div>
    </nav>
     <!-- Welcome-text -->
     <section class="welcome-text text-center" id="welcome-text">
        <h1>Welcome, <span>@User.Identity.Name !</span></h1>
    </section>
    <section class="main-body" id="main-body">
        <div class="maxWidth1180">

            <div class="d-flex">
                <!-- side Bar -->
                <div class="side-bar">
                    <ul class="side-bar-menu h-100">
                        <li class="side-menu-link"><a href="#">Dashboard</a></li>
                        <li class="side-menu-link active"><a href="#">Service History</a></li>
                        <li class="side-menu-link"><a href="#">Service Schedule</a></li>
                        <li class="side-menu-link"><a href="#">Favourite Pros</a></li>
                        <li class="side-menu-link"><a href="#">Invoices</a></li>
                        <li class="side-menu-link"><a href="#">Notifications</a></li>
                    </ul>
                </div>

                <!-- Service-history List -->
                <div class="main-content">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2 class="title">Service History</h2>
                        <button class="export-btn">Export</button>
                    </div>
                    <div class="div-table">
                        <table class="table" id="service_history_table">
                            <thead>
                                <tr>
                                    <td>Service Details <img class="sort-img" alt=""> </td>
                                    <td>Service Provider <img class="sort-img" alt=""> </td>
                                    <td>Payment <img class="sort-img" alt=""></td>
                                    <td>Status <img class="sort-img" alt=""></td>
                                    <td>Rate SP</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>09/04/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalMoney">€63</span>
                                    </td>
                                    <td><span class="compeleted-btn">Completed</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>15/03/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalMoney">€63</span>
                                    </td>
                                    <td><span class="compeleted-btn">Completed</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>10/03/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalMoney">€63</span>
                                    </td>
                                    <td><span class="compeleted-btn">Completed</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>28/02/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalMoney">€63</span>
                                    </td>
                                    <td><span class="Cancelled-btn">Cancelled</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>15/02/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalMoney">€63</span>
                                    </td>
                                    <td><span class="compeleted-btn">Completed</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>11/02/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalMoney">€63</span>
                                    </td>
                                    <td><span class="Cancelled-btn">Cancelled</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>31/01/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalMoney">€63</span>
                                    </td>
                                    <td><span class="compeleted-btn">Completed</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>19/01/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalMoney">€63</span>
                                    </td>
                                    <td><span class="compeleted-btn">Completed</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>05/01/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalMoney">€63</span>
                                    </td>
                                    <td><span class="Cancelled-btn">Cancelled</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>01/01/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalTotalTotalMoney">€63</span>
                                    </td>
                                    <td><span class="Cancelled-btn">Cancelled</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>



                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>09/04/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalTotalMoney">€63</span>
                                    </td>
                                    <td><span class="compeleted-btn">Completed</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>15/03/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalTotalMoney">€63</span>
                                    </td>
                                    <td><span class="compeleted-btn">Completed</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>10/03/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalTotalMoney">€63</span>
                                    </td>
                                    <td><span class="compeleted-btn">Completed</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>28/02/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalTotalMoney">€63</span>
                                    </td>
                                    <td><span class="Cancelled-btn">Cancelled</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>15/02/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalTotalMoney">€63</span>
                                    </td>
                                    <td><span class="compeleted-btn">Completed</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>11/02/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalTotalMoney">€63</span>
                                    </td>
                                    <td><span class="Cancelled-btn">Cancelled</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>31/01/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalTotalMoney">€63</span>
                                    </td>
                                    <td><span class="compeleted-btn">Completed</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>19/01/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalTotalMoney">€63</span>
                                    </td>
                                    <td><span class="compeleted-btn">Completed</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>05/01/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalTotalMoney">€63</span>
                                    </td>
                                    <td><span class="Cancelled-btn">Cancelled</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>01/01/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalTotalMoney">€63</span>
                                    </td>
                                    <td><span class="Cancelled-btn">Cancelled</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>                                

                                <tr>
                                    <td>
                                        <img src="~/images/calendar.png" alt="">
                                        <span>01/01/2018</span><br>
                                        12:00 - 18:00
                                    </td>
                                    <td>
                                        <div>
                                            <img src="~/images/cap.png" class="capImg float-start"
                                                alt="cap image">
                                            <div class="name-rating">
                                                <label>Lyum Watson</label>
                                                <div>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star1.png" alt=""></span>
                                                    <span><img src="~/images/star2.png" alt=""></span>
                                                    <label class="rating-count">4</label>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="TotalTotalMoney">€63</span>
                                    </td>
                                    <td><span class="Cancelled-btn">Cancelled</span></td>
                                    <td>
                                        <button class="rate-btn">Rate SP</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>



