.modal-dialog {
    height: 90% !important;
}

.modal-content {
    width: 400px;
    padding: 25px;
}

.modal-header {
    border-bottom: 0;
}

.form-group input {
    padding-right: 40px;
}

.submit-button {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    padding: 15px 30px;
    border: none;
    background-color: #1d7a8c;
    color: white;
    border-radius: 40px;
}

.icon-textbox {
    position: relative;
}

    .icon-textbox img {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 10px;
        margin-right: 10px;
    }
/* modal part ended */
