@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.btn-reschedule {
    color:white;
    font-size: 16px;
    border-radius: 22px;
    padding: 10px 22px;
    background-color: rgb(5, 115, 119);
}
.btn-general {
    color: white;
    font-size: 16px;
    border-radius: 22px;
    padding: 10px 22px;
    background-color: rgb(5, 115, 119);
}
.btn-cancel {
    color: white;
    font-size: 16px;
    border-radius: 22px;
    padding: 10px 22px;
}

.navbar {
    transition: all 0.3s ease;
}

    .navbar.navbar-bg-color {
        background-color: #525252;
    }

.navbar-brand img {
    height: 130px;
    width: 175px;
}

.navbar.navbar-bg-color .navbar-brand img {
    height: 54px;
    width: 74.69px;
}

.navbar .navbar-nav li {
    margin-left: 5px;
    margin-right: 5px;
}

.nav-btn {
    background-color: #29626d;
}

.navbar .navbar-nav .rounded-link {
    border: 1px solid white;
    border-radius: 30px;
    padding: 0px 25px;
    margin: 0px 5px;
    transition: all 0.3s ease;
}

    .navbar .navbar-nav .rounded-link:hover {
        color: #006072 !important;
        background-color: #fff;
    }

.navbar .navbar-toggler {
    border: 0px;
}

    .navbar .navbar-toggler span {
        color: white;
        font-size: 30px;
    }

.navbar .navbar-nav li a {
    padding: 0px 15px !important;
    line-height: 40px;
    font-size: 17px;
    color: #ffffff !important;
    border: 1px solid transparent;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.navbar .navbar-nav li.dropdown a:hover {
    border: 1px solid transparent;
}

.navbar .navbar-nav li a:hover {
    border: 1px solid white;
    border-radius: 30px;
}

.navbar .navbar-nav .county-flag {
    width: 25px;
    height: 16px;
}

.navbar .navbar-nav .dropdown-menu {
    background-color: transparent;
    border: none;
    min-width: 0px;
    left: 2px;
    padding: 0px;
}

.navbar .backblack {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 9;
    display: none;
}

.navbar .notification-profile-menu ul {
    padding-left: 0px;
    margin-bottom: 0px;
}

.navbar .notification-profile-menu > ul > li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 13px;
}

.navbar .notification-profile-menu .dropdown .dropdown-toggle::after {
    border: 0px;
    width: 11px;
    height: 6px;
    vertical-align: 0px;
    background-image: url("../images/sp-arrow-down.png");
}

.navbar .notification-profile-menu .notification-dropdown > a span {
    position: absolute;
    background-color: red;
    width: 18px;
    height: 18px;
    font-size: 13.5px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    top: 5px;
    left: 37px;
    color: #fff;
}

.navbar .notification-profile-menu .dropdown .dropdown-menu {
    top: 65px;
    left: -70px;
}

.navbar .notification-profile-menu .notification-dropdown .dropdown-menu {
    top: 65px;
    left: -50px;
}

.navbar .notification-profile-menu .notification-dropdown .dropdown-toggle::after {
    display: none;
}

.navbar .notification-profile-menu .notification-dropdown > a {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding-right: 25px;
}

.navbar .notification-profile-menu .dropdown ul::before {
    content: "";
    width: 10px;
    height: 10px;
    background-color: inherit;
    display: block;
    transform: rotate(45deg);
    position: absolute;
    top: -0.4em;
    right: 33%;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.navbar .notification-profile-menu .dropdown.notification-dropdown ul::before {
    right: 47%;
}

.navbar .notification-profile-menu .user-name span {
    font-weight: 600;
}

.navbar .social-links a {
    padding: 6px;
    text-decoration: none !important;
}

    .navbar .social-links a .fb-icon {
        height: 18px;
        width: 20px;
    }

    .navbar .social-links a .insta-icon {
        height: 20px;
        width: 20px;
    }

/* -- Navbar end*/

/* Side Bar Start */

.main-body {
    margin: 30px 0px;
}

.side-bar {
    padding-left: 0px !important;
}

    .side-bar .side-bar-menu {
        padding-left: 0px;
        /* width: 262px; */
        background-color: #1d7a8c;
    }

        .side-bar .side-bar-menu .nav-item {
            min-width: 262px;
            font-size: 18px;
            line-height: 55px;
            border-bottom: 1px solid #fff;
            list-style: none;
        }

        .side-bar .side-bar-menu .nav-link:hover {
            background-color: #146371;
        }

        .side-bar .side-bar-menu .nav-link.active {
            background-color: #146371;
        }

        .side-bar .side-bar-menu .nav-link {
            color: #fff;
            text-decoration: none;
        }

.main-content {
    width: 845px;
    margin-left: 30px;
}

/* Side Bar END */

.table-width{
    width:845px;
}



.main-body .main-content .title {
    font-size: 22px;
    color: #646464;
    margin-bottom: 6px;
}

.main-body .main-content .export-btn {
    font-size: 14px;
    background-color: #146371;
    color: #fff;
    padding: 8px 15px;
    border-radius: 25px;
    border: 0px;
    margin-bottom: 6px;
}

.main-content #service_history_table tr td:nth-child(3) {
    text-align: center;
}

#service_history_table tr td .capImg {
    padding: 12px 7px;
    border: 1px solid #aaaaaa;
    border-radius: 50%;
    margin-right: 12px;
}

#service_history_table tr td .TotalMoney {
    font-size: 20px;
    color: #1d7a8c;
}

#service_history_table tr td .compeleted-btn {
    font-size: 13px;
    color: #fff;
    padding: 5px 10px;
    background-color: #67b644;
}

#service_history_table tr td .Cancelled-btn {
    font-size: 13px;
    color: #fff;
    padding: 5px 10px;
    background-color: #ff6b6b;
}

#service_history_table tr td .rate-btn {
    font-size: 14px;
    color: #fff;
    padding: 8px 13px;
    background-color: #6da9b5;
    border: 0px;
    border-radius: 30px;
}

.welcome-text {
    background-color: #f9f9f9;
    padding-top: 44px;
    padding-bottom: 46px;
    margin-top: 64px;
}

    .welcome-text h1 {
        font-size: 30px;
        color: #4f4f4f;
        font-weight: 400;
    }

        .welcome-text h1 span {
            font-weight: bold;
        }

.maxWidth1180 {
    max-width: 1180px;
    margin: auto;
    padding: 0px 20px;
}

/*datatable start*/

.main-content table.dataTable thead .sorting .sort-img {
    content: url(../images/sort.png);
    width: 14px;
    height: 14px;
    margin-left: 5px;
}

.main-content table.dataTable thead .sorting_asc .sort-img {
    content: url(../images/icons8-up-arrow-30.png);
    width: 14px;
    height: 14px;
    margin-left: 5px;
}

.main-content table.dataTable thead .sorting_desc .sort-img {
    content: url(../images/icons8-down-arrow-30.png);
    width: 14px;
    height: 14px;
    margin-left: 5px;
}

.main-content table.dataTable thead .sorting {
    background-image: none !important;
    background-size: 12px;
}

.main-content table,
.main-content table tr {
    border: 1px solid #e1e1e1 !important;
}

    .main-content table thead tr td {
        font-size: 16px;
        color: #646464;
        background-color: #f9f9f9;
        font-weight: bold;
        border-bottom: 1px solid #e1e1e1;
    }

    .main-content table tbody tr td {
        position: relative;
        font-size: 16px;
        color: #646464;
    }

        .main-content table tbody tr td .clickableBox {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: #646464 !important;
            padding: 3px;
        }

        .main-content table tbody tr td span {
            font-weight: bold;
        }

    .main-content table tr {
        vertical-align: middle;
    }


.dataTables_wrapper .dataTables_processing {
    background: none !important;
}

.dataTables_wrapper .dataTables_info {
    margin-left: 15px;
    margin-top: 4px;
    clear: none !important;
    font-size: 14px;
    color: #646464;
}

.dataTables_wrapper .dataTables_length {
    margin-top: 10px;
    font-size: 14px;
    color: #646464;
}

.dataTables_wrapper .dataTables_paginate {
    margin-top: 5px;
}

    .dataTables_wrapper .dataTables_paginate .paginate_button.first {
        content: url(../images/first-page.png);
        padding: 15px 14px 14px 16px;
        border-radius: 50%;
        border: 1px solid #e1e1e1;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.previous {
        content: url(../images/keyboard-right-arrow-button-copy.png);
        padding: 15px 14px 14px 16px;
        border-radius: 50%;
        border: 1px solid #e1e1e1;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
        background: #1d7a8c;
        color: #fff !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        border-radius: 50%;
        border: 1px solid #e1e1e1;
        position: relative !important;
        margin-left: 3px !important;
    }

    .dataTables_wrapper .dataTables_paginate span .paginate_button {
        top: -13px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.next {
        content: url(../images/keyboard-right-arrow-button-copy.png);
        padding: 15px 14px 14px 16px;
        border-radius: 50%;
        border: 1px solid #e1e1e1;
        transform: rotate(180deg);
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.last {
        content: url(../images/first-page.png);
        padding: 15px 14px 14px 16px;
        border-radius: 50%;
        border: 1px solid #e1e1e1;
        transform: rotate(180deg);
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
    .dataTables_wrapper .dataTables_paginate .paginate_button.first:hover,
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        background-color: #fff;
        border: 1px solid #1d7a8c;
        background: #fff;
        color: #111 !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
        border-color: #8bc7d3;
    }

.dataTables_wrapper .dataTables_length select {
    height: auto !important;
}


/*My Account Page Start*/

.my-account {
    width: 100%;
}

    .my-account .nav-link {
        font-weight: 700;
        background-color: #fff;
        color: #646464;
        border-bottom: 4px solid #e1e1e1;
        border-radius: 0px !important;
    }

    .my-account .nav-pills .nav-link.active,
    .my-account .nav-pills .nav-link:hover {
        background-color: #fff;
        color: #1d7a8c;
        border-bottom: 4px solid #1d7a8c !important;
        border-radius: 0px !important;
    }

    .my-account .small-select-tag {
        padding: 10px 23px 10px 6px !important;
        background-position: right 6px center !important;
    }


    .my-account .tab-icon {
        margin: auto;
        height: 26px;
        width: 24px;
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: 0 0;
    }

    .my-account .my-detail-tabIcon {
        background-image: url(../images/my-account-details.png);
    }

    .my-account .my-addresses-tabIcon {
        background-image: url(../images/my-account-address.png);
    }

    .my-account .my-change-password-tabIcon {
        background-image: url(../images/my-account-password.png);
    }

    .my-account .nav-link.active .my-detail-tabIcon {
        background-image: url(../images/my-account-details.png);
        background-position: 0 -26px;
    }

    .my-account .nav-link.active .my-addresses-tabIcon {
        background-image: url(../images/my-account-address.png);
        background-position: 0 -26px;
    }

    .my-account .nav-link.active .my-change-password-tabIcon {
        background-image: url(../images/my-account-password.png);
        background-position: 0 -26px;
    }

#my-addresses table thead {
    color: #646464;
    background: #f3f3f3;
    border-bottom: 2px solid #e1e1e1;
}

#my-addresses table th,
#my-addresses table td {
    padding-left: 15px;
}

#my-addresses tbody {
    border-top: 0px !important;
}

#my-addresses .actionIcon {
    color: transparent;
    border-radius: 25px;
}

    #my-addresses .actionIcon.editIcon {
        padding: 10px 5px 10px 10px;
    }

    #my-addresses .actionIcon.deleteIcon {
        padding: 10px 9px;
    }

    #my-addresses .actionIcon:hover {
        background-color: #f3f3f3;
    }

/*My Account Page End*/
