#our-customer {
    padding: 56px;
    position: relative;
    background-color: #F4F5F8;
}

.our-customer-heading {
    margin-bottom: 56px;
}

.customer-info {
    display: flex;
    margin-bottom: 20px;
}

.customer-card {
    max-width: 357px;
    border-left: 3px solid #1d7a8c;
    box-shadow: 0 0 30px 0 #e4ebf0;
    padding: 43px 20px 30px 40px;
    margin-bottom: 10px;
    position: relative;
    border-radius: 4px;
    background: #fff;
}

.customer-textbox {
    margin: 15px 0;
}

.customer-img {
    margin-right: 18px;
}

#our-customer .container .customer-card .customer-info .customer-textbox h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    color: #4f4f4f;
}

#our-customer .container .customer-card .customer-info .customer-textbox p {
    color: #8E8E8E;
    font-size: 14px;
}


/*get-our-newsletter*/

.our-news-letter {
    padding-bottom: 55px;
    background: #F4F5F8;
}

.our-news-letter .newsletter-container {
    position: relative;
    max-width: 1420px;
}

.our-news-letter a {
    display: inline-block;
}

.our-news-letter .scroll-top {
    position: absolute;
    width: 48px;
    height: 48px;
    background: #525252;
    border-radius: 50%;
    left: 0;
    line-height: 45px;
}

.our-news-letter .message-boat {
    position: absolute;
    width: 63px;
    height: 63px;
    right: 0;
}

.our-news-letter h2 {
    font-size: 18px;
    margin-bottom: 16px;
}

.our-news-letter .form-row .form-control {
    border-radius: 20px;
    border: solid 1px #565656;
    background-color: #f4f5f8;
    color: #565656;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding: 0 22px;
}

.our-news-letter .form-row .form-control:focus {
    box-shadow: none;
}

.our-news-letter .btn-wrapper {
    margin-left: 11px;
}

.red-btn {
    background-color: #FF7B6D;
    font-size: 14px;
    line-height: 37px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #fff;
    width: 88px;
    transition: 0.3s all;
}

#footer {
    background-color: #111111;
    padding: 25px 0 5px;
}

.homepage-footer-list {
    text-align: center;
    flex-wrap: wrap;
    list-style-type: none;
    color: #f1f1f1;
    font-size: 14px;
    padding: 0px 40px;
}

#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer ul.footer-list li {
    display: inline-block;
    list-style: none;
    margin-left: 30px;
    margin-bottom: 20px;
    align-items: center;
    color: #f1f1f1;
    font-size: 14px;
}

#footer .footer-social-media img {
    margin-left: 20px;
}


/* privacy policy */

.privacy-policy {
    background-color: #292929;
    height: 64px;
    bottom: 0;
}

.policy-msg {
    color: #f1f1f1;
    margin-bottom: 0;
    font-size: 14px;
}

#policy-button {
    background-color: #eed507;
    height: 40px;
    width: 99px;
    border-radius: 25px;
    margin: 0 30px 0 50px;
}

#policy-button:hover {
    background-color: #e0cb0c;
}