@{
    ViewData["Title"]="Book Service";
    Layout = "~/Views/Shared/_PublicPageLayout.cshtml";

}

<img class="w-100 headerImg" src="~/images/book-service-banner.jpg">
  <section class="container service-booking-content">
      
        <h1 class="text-center pt-4 pb-2 bookServiceTitle">Set up your cleaning service</h1>

        <div class="d-flex justify-content-center star-design">
            <img src="~/images/forma-1-copy-5.png" width="24" height="25" alt="">
        </div>

        <div class="tabs row mt-5">
          <div class="sub-tab row col-lg-7">


        <ul class="tabs-steps d-flex justify-content-center">
          <!--<li data-tab-target="#step-1" class="active tab flex-grow-1"> <img src="images/setup-service-white.png" alt="" />
            Setup Service</li>-->
            <li onclick="openTab(event, 'step-1')" class="nav-item tab-1 flex-grow-1 text-center active" id="defaultOpen">
              <a title="setup-service">
                <span>
                  <span class="icon"></span>
                  <span class="text">Setup Service</span>
                </span>
              </a>
            </li>
          <!--<li data-tab-target="#step-2" class="tab flex-grow-1"><img src="images/schedule-white.png" alt="" /> Schedule & Plan</li>-->
          <li onclick="openTab(event, 'step-2')" class="nav-item tab-2 flex-grow-1 text-center">
            <a title="schedule&plan">
              <span>
                <span class="icon"></span>
                <span class="text">Schedule & Plan</span>
              </span>
            </a>
          </li>
          <!--<li data-tab-target="#step-3" class="tab flex-grow-1"><img src="images/details-white.png" alt="" /> Your Details</li>-->
          <li onclick="openTab(event, 'step-3')" class="nav-item tab-3 flex-grow-1 text-center">
            <a title="your-details">
              <span>
                <span class="icon"></span>
                <span class="text">Your Details</span>
              </span>
            </a>
          </li>
          <!--<li data-tab-target="#step-4" class="tab flex-grow-1"><img src="images/payment-white.png" alt="" /> Make Payment</li>-->
          <li onclick="openTab(event, 'step-4')" class="nav-item tab-4 flex-grow-1 text-center">
            <a title="make-payment">
              <span>
                <span class="icon"></span>
                <span class="text">Make Payment</span>
              </span>
            </a>
          </li>
        </ul>


        <div id="step-1" class="tabcontent">
          <div class="step-1-content">
            <div>
              <!--<input type="text" placeholder="Postal code">-->
              <span class="labels">Enter your Postal Code</span>
              <div class="row">
              <div class="col-sm-7 col-md-5">              
              <input class="form-control" type="text" placeholder="Postal code" id="PostalCode">
              <span id="PostalCodeErrorMessage" class="text-danger"></span>
              </div>
              <div class="col-sm-5 align-items-end">
              <button type="submit" class="check-btn" onclick="CheckPostalCode()">Check Availability</button>
              </div>
              </div>
            </div>
            <hr>
            <div class="continue-btn">
              <button id="continue">Continue</button>
            </div>
          </div>

        </div>



        <div id="step-2" class="tabcontent">
          <form action="">
            <span class="labels">Select number of rooms and bath</span>
            <div class="row">
              <div class="col-sm-2">
                <select class="form-select" id="bedSelect" onchange="SelectBeds()">
                  <option selected>1 bed</option>
                  <option>2 bed</option>
                  <option>3 bed</option>
                </select>
              </div>
              <div class="col-sm-2">
                <select class="form-select" id="bathSelect" onchange="SelectBaths()">
                  <option selected>1 bath</option>
                  <option>2 bath</option>
                  <option>3 bath</option>
                </select>
              </div>
            </div>
            <hr />
            <div class="sub-form row">
              <div class="row col-lg-6">
                <span class="labels">When do you need the cleaner?</span>
                <div class="row">
                  <div class="col-sm-5 d-picker">
                    <img src="~/images/admin-calendar-blue.png" alt=""> 
                      <input type="date" class="form-control" placeholder="Date" id="DateSelect" onchange="SelectDate()">
                  </div>

                  <div class="col-sm-4 time">
                    <input type="time" class="form-control" placeholder="Time" value="14:00" id="TimeSelect" onchange="SelectTime()">
                  </div>
                </div>
              </div>
              
              <div class="col-lg-6 sub_2">
                <span class="labels">How long do you need your cleaner to stay?</span>                
                <div class="col-sm-5">
                  <select class="form-select" id="hourSelect" onchange="SelectHours()">
                    <option selected>3.0 Hrs</option>
                    <option>3.5 Hrs</option>
                    <option>4.0 Hrs</option>
                    <option>4.5 Hrs</option>
                    <option>5.0 Hrs</option>
                    <option>5.5 Hrs</option>
                    <option>6.0 Hrs</option>
                    <option>6.5 Hrs</option>
                    <option>7.0 Hrs</option>
                    <option>7.5 Hrs</option>
                    <option>8.0 Hrs</option>
                    <option>8.5 Hrs</option>
                    <option>9.0 Hrs</option>
                    <option>9.5 Hrs</option>
                    <option>10.0 Hrs</option>
                    <option>10.5 Hrs</option>
                  </select>
                </div>
              </div>
            </div>
            <hr />
            <div class="extra-service">
              <span class="labels">Extra Services</span>
              <div class="row justify-content-between">
                <div class="col-lg-2 col-md-2 col-sm-3 service-items" id="service-item-1" onclick="addExtra(this, 'extra1')">
                  <div class="service-img" id="cabinets">
                    <div class="img-wrapper" id="img-1"><!-- <img src="images/3.png" id="cabinets" /> --></div>
                  </div>
                  <p>Inside cabinets</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 service-items" id="service-item-2" onclick="addExtra(this, 'extra2')">
                  <div class="service-img" id="fridge">
                    <div class="img-wrapper" id="img-2"><!-- <img src="images/5.png" id="cabinets" /> --></div>
                  </div>
                  <p>Inside fridge</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 service-items" id="service-item-3" onclick="addExtra(this, 'extra3')">
                  <div class="service-img" id="oven">
                    <div class="img-wrapper" id="img-3"><!-- <img src="images/4.png" id="cabinets" /> --></div>
                  </div>
                  <p>Inside oven</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 service-items" id="service-item-4" onclick="addExtra(this, 'extra4')">
                  <div class="service-img" id="laundry">
                    <div class="img-wrapper" id="img-4"><!-- <img src="images/2.png" id="cabinets" /> --></div>
                  </div>
                  <p>Laundry wash & dry</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3 service-items" id="service-item-5" onclick="addExtra(this, 'extra5')">
                  <div class="service-img" id="windows">
                    <div class="img-wrapper" id="img-5"><!-- <img src="images/1.png" id="cabinets" /> --></div>
                  </div>
                  <p>Interior windows</p>
                </div>
              </div>
            </div>
            <hr />
            <div class="comment-part">
              <span class="labels">Comments</span>
              <textarea name="comments_text" cols="85" rows="3"></textarea>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                <label class="form-check-label" for="flexCheckDefault">
                <p>I have pets at home</p>
                </label>
              </div>
              <hr />

              <div class="continue-btn">
                <button>Continue</button>
              </div>
            </div>
          </form>
        </div>

        <div id="step-3" class="tabcontent">
          <div class="step-3-content">
            <span class="labels">Enter your contact details, so we can serve you in better way !</span>
            <div class="address-tab">
              <input type="radio" id="address" name="address" value="">
              <label for="address">Any Address goes here</label><br>
            </div>
            <ul class="address-tab mt-4" id="customerAddressList">
                <li>item1 </li>
             </ul>

            <button class="add-address" type="button" onclick="show_form()">+ Add New Address</button>

            <div class="card card-body" id="address_form">

              <form action="" class="row">
                <div class="col-md-6">
                  <label for="inputstreet" class="labels">Street name</label>
                  <input type="text" class="form-control" id="Userinputstreet">
                  <span id="ErrorMessageUserinputstreet" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                  <label for="inputhouse" class="labels">House number</label>
                  <input type="text" class="form-control" id="Userinputhouse">
                </div>
                <div class="col-md-6">
                  <label for="inputpostal" class="labels">Postal code</label>
                  <input type="text" class="form-control" id="Userinputpostal">
                </div>
                <div class="col-md-6">
                  <label for="inputcity" class="labels">City</label>
                  <input type="text" class="form-control" id="Userinputcity">
                </div>
                <div class="col-md-6">
                  <label for="inputphone" class="labels">Phone number</label>
                  <input type="text" class="form-control" id="Userinputphone">
                  <span id="ErrorMessageUserinput" class="text-danger"></span>
                </div>
                <div class="btn-2">
                  <button type="submit" id="save"  onclick="AddNewCustomerAddress()">
                    Save
                  </button>
                  <button id="cancel" onclick="cancel_form()">
                    Cancel
                  </button>
                </div>
              </form>

            </div>
            <span class="labels">Your favourite service provider</span>           
            <hr>
            <div class="fav-sp">
              <p>You can choose your service provider from the below list</p>
              <div class="SP d-flex flex-column justify-content-center">
                <div class="img-sp"><img src="~/images/cap.png" alt="#"></div>
                <span class="labels">Sandip Patel</span>
                <button type="button" id="select">Select</button>
              </div>
              <hr>
              <div class="continue-btn">
                <button>Continue</button>
              </div>
            </div>
          </div>
        </div>

        <div id="step-4" class="tabcontent">
          <div class="step-4-content">
            <span class="labels">Pay securely with Helperland payment gateway!</span>
            <p>Promo code (Optional)</p>
            <form action="">
              <div class="row">
                <div class="col-sm-7 col-md-5">  
                  <input type="text" class="form-control" placeholder="Promo code" id="promocode">
                </div>
                <div class="col-sm-5 align-items-end apply-btn">
                  <button type="submit" id="apply">Apply</button>
                </div>
              </div>
            </form>
            <hr>
            <div class="continue-btn">
              <button>Continue</button>
            </div>
          </div>         
        </div>
      </div>
            <div class="payment_summary col-lg-4">
                <div class="card card-body">
                  <p class="title">Payment Summary</p>
                    <div class="pay-details">
                      <p class="details-text">
                        <span id="serviceDate">01/01/2018</span> <span id="serviceTime">4:00PM </span><br>
                        <span id="numberOfbeds">1 bed</span>, <span id="numberOfbaths">1 bath</span>.
                      </p>
                      <table id="costTable">
                        <thead>
                          <tr>
                            <th>            
                              <p><span style="font-weight: bold;">Duration</span></p>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>
                              <p><span>Basic</span></P>
                            </th> 
                            <td>
                              <p><span id="BasicHours">3.0 Hrs</span></p>
                            </td>
                          </tr>
                            <tr class="hidden" id="extra1">
                              <th>
                                <p><span>Inside cabinets (extra)</span></p>
                              </th> 
                              <td>
                                <p><span>30 Mins</span></p>
                              </td>
                            </tr>
                            <tr class="hidden" id="extra2">
                              <th>
                                <p><span>Inside fridge (extra)</span></p>
                              </th> 
                              <td>
                                <p><span>30 Mins</span></p>
                              </td>
                            </tr>
                            <tr class="hidden" id="extra3">
                              <th>
                                <p><span>Inside oven (extra)</span></p>
                              </th> 
                              <td>
                                <p><span>30 Mins</span></p>
                              </td>
                            </tr>
                            <tr class="hidden" id="extra4">
                              <th>
                                <p><span>Laundry wash and dry (extra)</span></p>
                              </th> 
                              <td>
                                <p><span>30 Mins</span></p>
                              </td>
                            </tr>
                            <tr class="hidden" id="extra5">
                              <th>
                                <p><span>Interior windows (extra)</span></p>
                              </th> 
                              <td>
                                <p><span>30 Mins</span></p>
                              </td>
                            </tr>  
                          <tr style="border-bottom: 1px solid #e1e1e1;"></tr>
                          <tr style="height: 10px"></tr>
                          <tr>
                            <th>
                              <p><span style="font-weight: bold;">Total Service Time</span><p>
                            </th> 
                            <td>
                              <p><span id="totalTime" style="margin-left: 48px; font-weight: bold;">3.0 Hrs</span></p>
                            </td>
                          </tr>
                        </tbody>
                    </table>
                    </div>
                    <hr>
                    <div class="pay-details">
                      <table>
                        <tbody>
                          <tr>
                            <th>
                              <p><span>Per cleaning lore</span></p>
                            </th>
                            <td>
                              <p><span style="margin-left: 90px; font-weight: bold;">$87</span></p>
                            </td>
                          </tr>
                          <tr>
                            <th>
                              <p><span>Discount</span></p>
                            </th>
                            <td>
                              <p><span style="margin-left: 104px; font-weight: bold;">-$27</span></p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
        
                    </div>
                    <hr>
                    <div class="total-payment">
                      <table>
                        <tbody>
                          <tr>
                            <th>
                              <p><span style="font-size: 15px; color: #1D7A8C; font-weight: 600;">Total Payment</span></p>
                            </th>
                            <td>
                              <p><span id="payment">$63</span> <br></p>
                            </td>
                          </tr>
                          <tr>
                            <th>
                              <p><span>Effective price</span></p>
                            </th>
                            <td>
                              <p><span style="margin-left: 78px; font-size: 16px; font-weight: 700;">$50.4</span> <br></p>
                            </td>
                          </tr>
                          <tr>
                            <th>
                              <span style="color: red;">*</span>
                              <span style="font-size: 12px;">You will save 20%</span>
                            </th>
                          </tr>
                        </tbody>
                      </table>
                    </div>
        
                    <div class="end-part">
                      <a href="#" class="card-link"><img src="~/images/smiley.png" alt=""> See what is always included</a>
                    </div>
                </div>
                <div class="text-center mt-4 mb-3">
                    <h5>Questions?</h5>
                </div>

                <div class="accordion mb-3" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Which Helperland professional will come to my place?
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body pt-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Which Helperland professional will come to my place?
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body pt-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Which Helperland professional will come to my place?
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body pt-0">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#" class="link-help">For more help</a>
              </div>
            
        </div>
    </section>
