@model ContactUsViewModel

@{
    ViewData["Title"]="Contact Page";
  Layout = "~/Views/Shared/_PublicPageLayout.cshtml";
}

    <img class="w-100" src="~/images/group-16_2.png">

    <h1 class="text-center pt-4 pb-2 pageTitle">Contact us</h1>

    <div class="d-flex justify-content-center star-design">
        <img src="~/images/forma-1-copy-5.png" width="24" height="25" alt="">
    </div>

    <div class="container py-5">
        <div class="row w-100">
            <div class="col-sm col-md-12 col-lg-4 d-flex flex-column align-items-center">
                <img src="~/images/forma-1_2.png" width="34" height="54">
                <p class="py-3 contactUsPara">1111 Lorem ipsum text 100,<br> Lorem ipsum AB</p>

            </div>
            <div class="col-sm col-md-12 col-lg-4 d-flex flex-column align-items-center">
                <img src="~/images/phone-call.png" width="44" height="50" alt="">
                <p class="py-3 contactUsPara">+49 (40) 123 56 7890<br>+49 (40) 987 56 0000</p>

            </div>
            <div class="col-sm col-md-12 col-lg-4 d-flex flex-column align-items-center">
                <img src="~/images/vector-smart-object.png" width="61" height="37" alt="">
                <p class="py-4 contactUsPara">info@helperland.com</p>
            </div>
        </div>
    </div>

    <hr class="hrLine">

    <section class="mt-5 text-center">
        <h2 class="pt-4 pb-2 contactHeading">Get in touch with us</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form class="contact-form" asp-controller="Home" asp-action="Contactus" method="post" enctype="multipart/form-data">
            <div class="row mb-3">
                <div class="col-sm-6">
                    <div class="form-group untouch">
                        <input asp-for="FirstName" type="text" class="form-control"  placeholder="First Name">
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input asp-for="LastName" type="text" class="form-control" placeholder="Last Name">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="input-group untouch">
                            <span class="country-code">+49</span>
                            <input asp-for=" MobileNumber" type="text" class="form-control" placeholder="Mobie Number">
                        </div>
                        <span asp-validation-for="MobileNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input asp-for="Email" type="email" class="form-control" placeholder="Email Address">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="form-group">
                        <select asp-for="Subject" class="form-control">
                    <option value="1">
                      Subject</option><option value="2">
                      Subject 2</option>
                  </select>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-12">
                    <div class="form-group">
                        <textarea asp-for=" Message " class="form-control" placeholder="Message"></textarea>
                        <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <label class="lblAttachment">Attachment</label>
                <label for="inputAttachment" class="lblUpload">Upload</label>
                <input asp-for="File" type="file" id="inputAttachment" hidden />
                <label id="lblAttachmentName"></label>
            </div>
            <div class="col-sm-12 text-center">
                <button class="btn-submit btn-lg" data-dismiss="msg" type="submit">Submit</button>
            </div>

        </form>
    </section>

  <section class="mt-5">
        <div class="row">
            <img src="~/images/group-16.png" alt="" srcset="">
        </div>

    </section>

    <div class="pb-5">
        <h4 id="newsletter" class="text-center pt-5 pb-2 text-uppercase">Get our newsletter</h4>
        <form class="form-inline">
            <div class="form-group d-flex justify-content-center" id="newsletterEmail">
                <div style="margin-right: 10px">
                    <input type="email" class="form-control" id="inputEmail" placeholder="YOUR EMAIL">
                </div>
                <div>
                    <button id="emailSubmitButton" class="btn" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>

  