@{
    ViewData["Title"]="Contact Page";
  Layout = "~/Views/Shared/_PublicPageLayout.cshtml";
}

    <img class="w-100" src="~/images/group-16_2.png">

    <h1 class="text-center pt-4 pb-2 pageTitle">Contact us</h1>

    <div class="d-flex justify-content-center star-design">
        <img src="~/images/forma-1-copy-5.png" width="24" height="25" alt="">
    </div>

    <div class="container py-5">
        <div class="row w-100">
            <div class="col-sm col-md-12 col-lg-4 d-flex flex-column align-items-center">
                <img src="~/images/forma-1_2.png" width="34" height="54">
                <p class="py-3 contactUsPara">1111 Lorem ipsum text 100,<br> Lorem ipsum AB</p>

            </div>
            <div class="col-sm col-md-12 col-lg-4 d-flex flex-column align-items-center">
                <img src="~/images/phone-call.png" width="44" height="50" alt="">
                <p class="py-3 contactUsPara">+49 (40) 123 56 7890<br>+49 (40) 987 56 0000</p>

            </div>
            <div class="col-sm col-md-12 col-lg-4 d-flex flex-column align-items-center">
                <img src="~/images/vector-smart-object.png" width="61" height="37" alt="">
                <p class="py-4 contactUsPara">info@helperland.com</p>
            </div>
        </div>
    </div>

    <hr class="hrLine">

    <section class="mt-5 text-center">
        <h2 class="pt-4 pb-2 contactHeading">Get in touch with us</h2>

        <form class="contact-form">
            <div class="row mb-3">
                <div class="col-sm-6">
                    <div class="form-group untouch">
                        <input class="form-control" maxlength="25" name="FirstName" type="text" placeholder="First Name">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" maxlength="25" name="LastName" type="text" placeholder="Last Name">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="input-group untouch">
                            <span class="country-code">+49</span>
                            <input class="form-control" name="no" maxlength="20" type="text" placeholder="Mobie Number">
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <input class="form-control" name="Email" maxlength="100" type="text" placeholder="Email Address">
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12">
                    <div class="form-group">
                        <select class="form-control" name="sub-type">
                    <option value="1">
                      Subject</option><option value="2">
                      Subject 2</option>
                  </select>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-sm-12">
                    <div class="form-group">
                        <textarea class="form-control" formcontrolname="Message" rows="5" placeholder="Message"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 text-center">
                <button class="btn-submit btn-lg" data-dismiss="msg" type="submit" disabled="">Submit</button>
            </div>

        </form>
    </section>

  <section class="mt-5">
        <div class="row">
            <img src="~/images/group-16.png" alt="" srcset="">
        </div>

    </section>

    <div class="pb-5">
        <h4 id="newsletter" class="text-center pt-5 pb-2 text-uppercase">Get our newsletter</h4>
        <form class="form-inline">
            <div class="form-group d-flex justify-content-center" id="newsletterEmail">
                <div style="margin-right: 10px">
                    <input type="email" class="form-control" id="inputEmail" placeholder="YOUR EMAIL">
                </div>
                <div>
                    <button id="emailSubmitButton" class="btn" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>

  