@model CombinedViewModel

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpHttpContextAccessor;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>@ViewBag.Title | Helperland</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
     <link rel="stylesheet" href="~/css/modal.css" />
     <link rel="stylesheet" href="~/css/UserRegistration.css" />
     <link rel="stylesheet" href="~/css/book_service.css" />

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     

    <script src="~/js/site.js"></script>
    <script src="~/js/book_service.js"></script>
</head>
<body>
      <!-- Model For Login -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel1"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title" id="staticBackdropLabel">Login to your account</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="modal-body">
                    <form asp-controller="Account" asp-action="Login">
                        <div class="mb-3 form-group icon-textbox">
                            <input asp-for="LoginModel.Email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
                            <img alt="email" src="~/images/user1.png">
                             <span asp-validation-for="LoginModel.Email" class="text-danger"></span>
                        </div>
                        <div class="mb-3 form-group icon-textbox">
                            <input asp-for="LoginModel.Password" type="password" class="form-control" id="exampleFormControlInput2"
                                placeholder="Password">
                            <img alt="Password" src="~/images/lock.png">
                             <span asp-validation-for="LoginModel.Password" class="text-danger"></span>
                        </div>
                        <div class="form-check">
                            <input  asp-for="LoginModel.RememberMe" class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                            <label class="form-check-label" for="flexCheckChecked">
                                Remember Me
                            </label>
                        </div>
                        <button class="submit-button mb-3" type="submit">Login</button>
                        <div class="text-center mb-2"><a href="#" data-bs-toggle="modal"
                                data-bs-target="#ForgotPasswordModal" data-bs-dismiss="modal">Forgot Password</a></div>
                        <div class="text-center">Don't have an account? <a asp-controller="Account" asp-action="UserRegistration">Create an
                                account</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Model -->

    <!-- Model For Forgot Password -->
     <div class="modal fade" id="ForgotPasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="staticBackdropLabel">Forgot Password</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Account" asp-action="ResetLink" method="post">
                        <div class="mb-3 form-group icon-textbox">
                            <input  asp-for="LoginModel.Email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
                            <img alt="email" src="~/images/user1.png">
                            <span asp-validation-for="LoginModel.Email"></span>
                        </div>

                        <button class="submit-button mb-3" type="submit">Send</button>
                        <div class="text-center mb-2"><a href="#" data-bs-toggle="modal"
                                data-bs-target="#loginModal" data-bs-dismiss="modal">Login now</a></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Model -->
  
    <nav class="navbar navbar-dark navbar-expand-lg smlNav" id="nav">
        <div class="container-fluid">
            <a class="navbar-brand me-auto" asp-controller="Home" asp-action="Index">
                <img class="faqNavLogo" id="navlogo" src="~/images/logo-large.png" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=" navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav d-flex align-items-lg-center justify-content-lg-end justify-content-sm-start" id="nav-right">
                    
                  <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-controller="Customer" asp-action="BookService">
                            <button type="button" class="navbar-button btn btn-outline-light">Book now</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Price">Prices & services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Warranty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Contact">Contact us</a>
                    </li>   
                    @if (_httpHttpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
                    {
                          <li class="nav-item">
                        <a class="nav-link" asp-controller="Account" asp-action="Logout">
                            <button type="button" class="navbar-button btn btn-outline-light">Logout</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-controller="Account" asp-action="BecomeAPro">
                            <button type="button" class="navbar-button btn btn-outline-light">Become a Helper</button>
                        </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-controller="Account" asp-action="Login" data-bs-toggle="modal" data-bs-target="#loginModal"
                        data-bs-dismiss="modal">
                            <button type="button" class="navbar-button btn btn-outline-light">Login</button>
                        </a>
                    </li>
                      
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-controller="Account" asp-action="BecomeAPro">
                            <button type="button" class="navbar-button btn btn-outline-light">Become a Helper</button>
                        </a>
                    </li>
                    }
                   @* 
                       <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-controller="Account" asp-action="Login" data-bs-toggle="modal" data-bs-target="#loginModal"
                        data-bs-dismiss="modal">
                            <button type="button" class="navbar-button btn btn-outline-light">Login</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-controller="Account" asp-action="BecomeAPro">
                            <button type="button" class="navbar-button btn btn-outline-light">Become a Helper</button>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="flag" src="https://cdn-icons-png.flaticon.com/128/206/206626.png" alt="flag">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end bg-dark text-light" aria-labelledby="defaultDropdown">
                            <li>
                                <a class="dropdown-item" data-img="https://cdn-icons-png.flaticon.com/128/206/206626.png" href="#"><img src="https://cdn-icons-png.flaticon.com/128/206/206626.png" alt="flag"> USA</a>
                            </li>
                            <li>
                                <a class="dropdown-item" data-img="https://cdn-icons-png.flaticon.com/128/555/555417.png" href="#"><img src="https://cdn-icons-png.flaticon.com/128/555/555417.png" alt="flag"> Canada</a>
                            </li>
                        </ul>
                        
                    </li>
                    *@
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
      <footer id="homepage-footer">
        <div class="d-flex flex-column flex-md-row justify-content-around align-items-center">
            <img src="~/images/footer-logo.png" alt="" width="120" height="92">
            <ul class="d-flex text-uppercase" id="footer-list">
                <li><a asp-controller="Home" asp-action="Index">home</a></li>
                <li><a asp-controller="Home" asp-action="About">about</a></li>
                <li>testimonials</li>
                <li>faqs</li>
                <li>insurance policy</li>
                <li>impressum</li>
            </ul>
            <div class="px-4 d-flex" id="footerSocialMediaSymbol">
                <div>
                    <img src="~/images/ic-facebook.png" width="9" height="18" alt="">
                </div>
                <div>
                    <img src="~/images/ic-instagram.png" width="20" height="20" alt="">
                </div>
            </div>

        </div>
        <hr class="mx-5" style="background-color: white;">
        <p class="text-center" style="font-size: 14px; color: #9BA0A3">©2018 Helperland. All rights reserved. Terms and Conditions | Privacy Policy</p>
    </footer>

     <!-- JS Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- fontawesome -->
    <script src="https://kit.fontawesome.com/ae6d6e0254.js" crossorigin="anonymous"></script>
</body>

</html>
